extends layout

block content
  h1 Remeet
  p.lead ReVisit your meetings in an interactive manner.
  hr
  .row
    .col-md-6
      h2 Search Through Video Calls
      p It often happens that we tend forget the meeting specifics and would like to go through some of the aspects again. We allow you to search through video calls with text. Just enter the text in our search panel and we list the instances when the text has been spoken during the call. You can just jump over that part of the video!
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Summary
      p Most people take handwritten notes during the video calls. This is tiring, inefficient and often unecessary. Our AI engine creates a summary that would help the user understand the keys aspects of the meeting.
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 To - Dos
      p It would be really cool if you could just get the list of ToDo after the call has ended. The AI engine generates the list of todos based on the conversation. (Right now based on simple Regex rules. )
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Questions. 
      p It is often that in a meeting people ask important questions. We have a separate section that would show the Question and Answer session for the specific application. 
      p
        a.btn.btn-raised(href='#', role='button') View details »